#main_body{
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)),
            url("images/background.jpg");
              /*url("http://lorempixel.com/400/200");*/
/*    background-image: url("images/background.jpg");*/
    background-size: 100% auto;
    background-repeat: repeat-y;
    opacity: 20%;
}

h3 {
    text-align:center;
    font-size: 14px;
    font-family: Quicksand;
}

h1 {
    position:relative;
}

/*--------------TITLE LINK -----------------*/


a#title_link:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a#title_link:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a#title_link:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a#title_link:active {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

/*---------------------------------------------*/

#output_text{
    margin:auto;
    padding-top:0px;
    text-align:center;
    font-size: 14px;
    font-family: Quicksand;
}

#output_text span{
    background-color: #FAC8B8
}
#p1 {
    font-family: Quicksand;
    font-size: 12px;
    color: grey;
    font-weight: light;
}

#p2 {
    font-family: Futura;
    font-size: 15px;
    position:relative;
}

#logo {
    font-family: Roboto Slab;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    margin:10px;
}

#subtitle {
    font-family: Quicksand;
    font-size: 25px;
    font-weight: lighter;
    color: grey;
}

.footer {
    padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}



/*________SCORE+DATE____________________________*/

#date1 {
    float: left;
}

#heat {
    float: right;
    font-family: Quicksand;
    font-weight: bold;
    padding-right: 10px;
}

#redditlogo {
    padding-right: 150px;
}

.date {
    text-align:center;
    font-size: 14px;
    font-family: Quicksand;
    width:50%;
    height:20px;
    float: left;
}

.score{
    width:50%;
    height:20px;
    float: left;
}

.score_r{
    width:50%;
    height:20px;
    float: left;
    cursor:pointer;
}

.shown_score_r{
    display:none;
    position:relative;
    max-width: 100px;
    background-color: #EEEEEE;
    font-family:Quicksand;
    font-size: 12px
}
.score_r:hover + .shown_score_r{
    display:block;
    left:170px;
    top:20px;
    text-align:center;
    padding-top:5px;
    padding-bottom:2px;

}

/*------*/

.score_l{
    width:50%;
    height:20px;
    float: left;
    cursor:pointer;
    
}

.shown_score_l{
    display:none;
    position:relative;
    max-width: 100px;
    background-color: #EEEEEE;
    font-family:Quicksand;
    font-size: 12px;
}
.score_l:hover + .shown_score_l{
    display:block;
    left:170px;
    top:20px;
    text-align:center;
    padding-top:5px;
    padding-bottom:2px;

}


#icon2{
    width: 25px;
    height: 20px;
    float: right;
    padding-right: 5px;
    

}

#icon{
    width: 20px;
    height: 20px;
    float: right;
    
}

.container_header{
    width: 100%;
}

/*________TIME GRAPH____________________________*/

#timegraph{
    width: 700px;
    margin: auto;
}

#svg_graph{
}

/*_____________LOADER_______________________*/

.loader {
  border: 12px solid #AEAEAE;
  border-radius: 50%;
  border-top: 12px solid #000000;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#search_message{
    margin: auto;
    text-align: center;
}

#loading{
    margin: auto;
}


/*_____________ADVANCED SEARCH______________________*/
#advanced_search_div{
    font-family: futura; 
}

#advanced_search_div legend{
    font-size:14px; 
}

.form-check{
    padding-bottom:3px;
    font-size:10px;
}

.form-group{
    text-align: left;
    padding-top: 3px;
}

.form-check-input{
    margin-left:0 auto:;
}

.form-check-label{
    font-weight:80;
    font-size:10px;
}


/* Create a custom radio buttons */

.form-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .checkmark {
    background-color: #FC5D50;
}

/* When the radio button is checked, add a blue background */
.form-check-label input:checked ~ .checkmark {
    background-color: #FC5D50;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.form-check-label:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form-check-label .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FC5D50;
}

/* The container */
.form-check-label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/*______________SEARCH BUTTONS_____________*/


#search_button:hover{
    background-color:#FC5D50;
}

#advanced_search:hover{
    background-color:#FC5D50
}

#advanced_search:visited{
    background-color:#FC5D50
}

/*______________AUTO_COMPLETE_____________*/


.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }


/*__________________INPUT SLIDER __________________*/

.slidecontainer {
    width: 280px;
}

#slider1text{
    padding-top: 3px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FC5D50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FC5D50;
    cursor: pointer;
}


/*____________________________________*/

@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}

body {
padding-top: 15%;
padding-bottom: 15px;
}
.global-search {
text-align:center;
}

.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
left:2%;
width:150px;
font-size: 10
}
.btn{
background-color: black;
border: none
}
.step-links a{
color: black;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
#timeline0{
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    opacity:0.6;
}

/* Container around content */
.container {
    padding: 20px 40px;
    position: relative;
    background-color: transparent;
    width: 400px;
}

/* Place the container to the left */
.left {
    left: -195px
    ;
}

/* Place the container to the right */
.right {
    left: 195px;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 26px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #EEEEEE;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 30px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent #EEEEEE transparent transparent;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #EEEEEE;
    position: relative;
    border-radius: 6px;
}

/* The circles on the timeline */
.left::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -7.5px;
    background-color: white;
    border: 4px solid  #000000;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.right::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -7.5px;
    background-color: white;
    border: 4px solid  #000000;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
