<html>
    <head>
        <!-- Loads Bootstrap templates -->
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="/static/main.css">
        </style>
        <!-- Autocomplete libraries -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href=http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css 
        <!-- Script for the Visual of the Timeline -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <!-- Fonts StyleSheet used to load google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Quicksand|Quicksand:700|Roboto" rel="stylesheet">

        <!-- Range Slider Libraries -->
       <!--  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->


    </head>
    <body id = "main_body">
        <form class="form-inline global-search" onsubmit= "preloader()">

            <h1 id = "logo"> <a href="informd.info" id="title_link"> Informd </a></h1> <br style = "line-height: 25%">
            <h2 id = "subtitle"> the evolution of news </h2>
            <br><br>
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" label="Tell me about: Israeli-Palestine Conflict">
            </div>
            <button type="submit" class="btn btn-info" id = "search_button"> Search </button>
            <br> <br>   
            <button id = "advanced_search" type="button" class="btn btn-sm" style="background-color: transparent; font-family:Roboto"> ⇓ Advanced Search ⇓ </button>
            <br><br>

            <div id = "advanced_search_div" style ="display:none">
                <!-- Parameter Set for Sorting the Search Results -->
                <fieldset class="form-group">
                <legend> Sort by: </legend>
                <div class="form-check">
                  <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="sort_order" id="optionsRadios1" value="option1" checked> 
                        <!-- By default this is set to reverse chronological -->
                        Reverse Chronological
                    <span class=checkmark></span>
                    </label>
                </div>
                <br>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="sort_order" id="optionsRadios2" value="option2">
                        Chronological
                        <span class=checkmark></span>
                    </label>
                </div>
                <br>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="sort_order" id="optionsRadios3" value="option3">
                        Relevance 
                        <span class=checkmark></span>
                    </label>
                </div>
                </fieldset>
                <br>
                <br>

                <p id = "p2"> adjust the level of detail you want for your topic </p>
                <br><br>

                <div class="slidecontainer">
                    <div style = "float:left"> 
                        <p id = "slider_labels" style = "float:left"> low-breadth </p>
                    </div>
                    <div style = "float:right">
                        <p id = "slider_labels" style = "float:right"> high-breadth </p>
                    </div>
                    <br>

                  <input type="range" name = "precision_recall" min="1" max="100" value="100" class="slider" id="myRange">
                    <p> <div id="slider1text"><span id="demo"></span> </div>  % </p>
                </div>
                <br><br>

                <p id = "p2"> adjust the time-frame to begin at a different year</p>
                <br><br>

                <div class="slidecontainer">
                     <div style = "float:left"> 
                        <p id = "slider_labels" style = "float:left"> 2013</p>
                    </div>
                    <div style = "float:right">
                        <p id = "slider_labels" style = "float:right"> 2018</p>
                    </div>
                    <br>

                  <input type="range" name = "date_range" min="2013" max="2018" value="2013" class="slider" id="myRange">
                    <p> <div id="slider1text"><span id="demo"></span> </div> </p>
                </div>
                <br><br>
            </div>
        </form>


        <div id="loading" style="display: none;">
            <div class = "loader"> </div>
            <div id="search_message"> <img id="gif" src="static/images/search_image.gif"> </div>
            <!-- <p id="p2"> <br>{{searching_message}} </p>  -->
        </div>

        <div id = "all_results">    <!-- Used to contain all 
            the results so they are hidden with new search -->

            <div id = "search_result" ><div id = "output_text"> <span> {{output_message}} </span></div></div>
            <div id= "timegraph"> 
                <svg id = "svg_graph"></svg>
                <br>
            </div>


            {% if data %}
            <div id="legend_scores">
                <div id="c_legend">
                    
                    <img id="icon_l" src="static/images/light.png">
                    Coherence Score
                    
                </div>
                <div id="reddit_legend">
                   
                    <img id="icon_l" src="static/images/reddit.png">
                     Reddit Upvotes
                    
                </div>
            </div>

            <div class= "timeline" id ="timeline0">     <br>
                {% for d in data %}
                    {% if data.index(d) % 2 != 0 %}
                        <div class="container left">
                            <div class="content">
                                {% for x in d[1] %}
                                        {% if d[4] == "nope" %}
                                            <div class="container_header">
                                                <div class="date"> <p id = "date1"> {{d[0]}} <p> </div> 
                                                <div class="score"> 
                                                    <!-- Coherence Score -->
                                                    <p id= heat>  {{d[6]}} </p> 
                                                    <img id="icon" src="static/images/light.png">
                                                </div>
                                                
                                            </div>
                                            <br><br>
                                            <div id = "p2"> {{x}} </div>
                                        {%else %}

                                        <div class="container_header">
                                                <div class="date"> <p id = "date1"> {{d[0]}} <p> </div> 
                                                <div class="score_l"> 
                                                    <p id= heat>  {{d[6]}} </p>
                                                    <img id="icon" src="static/images/light.png">
                                                    <p id= heat>  {{d[3]}} </p>
                                                    <img id="icon2" src="static/images/reddit.png">
                                                </div>
                                            </div>
                                            <br><br>

                                            <div id="p2"> <a href="{{d[4]}}"> {{x}}</a></div>
                                        {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="container right">
                            <div class="content">

                                {% for x in d[1] %}
                                        {% if d[4] == "nope" %}
                                            <div class="container_header">
                                                <div class="date"> <p id = "date1"> {{d[0]}} <p> </div> 
                                                <div class="scores"> 
                                                    <p id= heat>  {{d[6]}} </p> 
                                                    <img id="icon" src="static/images/light.png">
                                                </div>
                                                              
                                            </div>
                                            <br><br>

                                            <div id = "p2"> {{x}} </div>
                                        {%else %}

                                        <div class="container_header">
                                                <div class="date"> <p id = "date1"> {{d[0]}} <p> </div> 
                                                <div class="score_r"> 
                                                    <p id= heat>  {{d[6]}} </p>
                                                    <img id="icon" src="static/images/light.png">
                                                    <p id= heat>  {{d[3]}} </p>
                                                    <img id="icon2" src="static/images/reddit.png">
                                                    
                                                </div>

                                            </div>
                                            <br><br>

                                            <div id="p2"> <a href="{{d[4]}}"> {{x}}</a></div>
                                            
                                        {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}

            </div>
            {% endif %}
        </div>
        <br>
        <div id = "bottom_screen_footer" class="footer">
        <p id = "p1">Project Name: {{ name }} || Student Names: {{ netid }}</p>
        </div>
    </body>

<!--  ____________________________________________________________________________ -->

    <script>
        function preloader(){
            console.log("called preloader");
            old_results = document.getElementById("all_results");
            old_results.style.display = "none"
            loading_div = document.getElementById("loading");
            loading_div.style.display= "block";
            footer0 = document.getElementById("bottom_screen_footer");
            footer0.style.display = "block";
            timeline = document.getElementById("timeline0");
            console.log(timeline);
            timeline.style.display = "block";
            advanced_search = document.getElementById("advanced_search");
            advanced_search.disabled = true;
            advanced_search_div = document.getElementById("advanced_search_div");
            advanced_search_div.style.display = "none";
        }

        // Opens advanced search menu on click.
        $('#advanced_search').on('click', function(event) {
            advanced_search_div = document.getElementById("advanced_search_div");
            if  (advanced_search_div.style.display == "block"){
                advanced_search_div.style.display = "none"
            }
            else {
                advanced_search_div.style.display = "block";
            }
        });


        // auto complete
        $( "#input" ).autocomplete({
            source: function(req, responseFn) {
            var re = $.ui.autocomplete.escapeRegex(req.term);
            var matcher = new RegExp( "^" + re, "i" );
            var a = $.grep({{auto_complete | tojson}}, function(item,index){
                return matcher.test(item);
                });
            responseFn( a );
            }
        });
            
        // SLIDER
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
        }

        function plotGraph(xdata, ydata){
            // console.log(xdata, ydata);

            var data_final = xdata.map(function(d, i){
                return { 'date' : Number(d), 'reddit_score' : Number(ydata[i])};
            });

            var padding = 15;       // allows you to put axis labels
            var height = 225;       // may need to modify
            var width = 650;
            
            var svg = d3.select("#svg_graph")      // will need to put the svg within a div.
            .attr("height", height + 2*padding).attr("width", width + 2* padding)
            .append("g"); 

            // axis
            var xScale = d3.scaleLinear().domain(d3.extent(xdata))   // change from d.date to date int.
            .range([5*padding, width - 2*padding]);

            var yScale = d3.scaleLinear().domain(d3.extent(ydata))  // change from d.value to the reddit score.
            .range([height, 2*padding]);

            // add the axis to the svg.
            svg.append("g").call(d3.axisLeft(yScale)).attr("transform", "translate(" + 5*padding + ", 0)");
            svg.append("g").call(d3.axisBottom(xScale).tickFormat(d3.format("d")).ticks(4))
                .attr("transform", "translate(0," + (height) + ")");

            // svg.append("text").attr("transform", "translate(" + padding + ", 0)").text("Monthly Job Change");
            svg.append("text").attr("transform", "rotate(270) translate(" + width / 2  + "," + height/2 + ")").text("Reddit Score"); // Might need to realign
            svg.append("text").attr("transform", "translate(200, 350)").text("Date");

            // creates the line that connects the points. 
            var line = d3.line()
            .x(function(d) { return xScale(d.date); })    
            .y(function(d) { return yScale(d.reddit_score); });

            // add this line to the graph.
            svg.append("path")
                .attr("d", line(data_final))
                .style("stroke", "#fC5D50")
                .style("fill", "none");

            svg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0)
                .attr("x",0 - (height / 2))
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .text("Reddit Upvotes"); 

            var tick_fonts = d3.select("body").selectAll("text").style("font-family", "Roboto");

              // text label for the y axis
  





            // svg.append("circle")
            //     .attr("cx", function(d) { return xScale(d.date); })       // change 
            //     .attr("cy", function(d) { return yScale(d.reddit_score); })      // change
            //     .attr("r", 2)     
            //     .style("fill", "black");    // need to check that this color works.
            }




            {% if data and not relevance_data %}

                advanced_search = document.getElementById("advanced_search");
                advanced_search.disabled = false;

                var dates_arr = [];
                var scores_arr = [];
                {% for d in data %}
                    dates_arr.push(String({{(d[2])}}));

                    {% if d[3] == "NA" %}
                        scores_arr.push(String(100));
                    {% else %}
                        scores_arr.push(String({{(d[3])}}));
                    {% endif %}

                 {% endfor %}

                var dates_final = [];
                var scores_final = [];

                for (i = 0; i < dates_arr.length; i++) { 
                    if (scores_arr[i] == "NA"){
                        scores_final.push(Number(100));
                        dates_final.push(Number(dates_arr[i]));
                    }
                    else{
                        scores_final.push(Number(scores_arr[i]));
                        dates_final.push(Number(dates_arr[i]));
                    }
                }
                plotGraph(dates_final, scores_final);

            {% elif data and relevance_data %}

                var dates_arr = [];
                var scores_arr = [];
                {% for d in relevance_data %}
                    dates_arr.push(String({{(d[2])}}));

                    {% if d[3] == "NA" %}
                        scores_arr.push(String(100));
                    {% else %}
                        scores_arr.push(String({{(d[3])}}));
                    {% endif %}
                 {% endfor %}

                var dates_final = [];
                var scores_final = [];

                for (i = 0; i < dates_arr.length; i++) { 
                    if (scores_arr[i] == "NA"){
                        scores_final.push(Number(100));
                        dates_final.push(Number(dates_arr[i]));
                    }
                    else{
                        scores_final.push(Number(scores_arr[i]));
                        dates_final.push(Number(dates_arr[i]));
                    }
                }
                plotGraph(dates_final, scores_final);
            {% endif %}

    </script>
</html>
