<html>
    <head>
        <!-- Loads Bootstrap templates -->
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!-- Fonts StyleSheet used to load google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Gravitas+One|Quicksand|Quicksand:700" rel="stylesheet">
    </head>
    <body>
        <form class="form-inline global-search" onsubmit= "preloader()">
            <h1 id = "logo"> Informd</h1>
            <br><br>
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Tell me about: Israeli-Palestine Conflict">
            </div>
            <button type="submit" class="btn btn-info" id = "search_button"> Search </button>
        </form>

        <div id="loading" style="display: none;">
            <div class = "loader"> </div>
        </div>

        <div id = "all_results">    <!-- Used to contain all 
            the results so they are hidden with new search -->
            
            <h3 id = "search_result" >{{output_message}}</h3>

            <div class= "timeline">     <br>
                {% for d in data %}
                    {% if data.index(d) % 2 != 0 %}
                        <div class="container left">
                            <div class="content">

                                <div class="container_header">

                                    <div class="date"> <p id = "date1"> {{d[0]}} <p> </div> 
                                    <div class="score"> 
                                        <p id= heat> 100 </p>
                                        <img id="icon" src="static/images/light.png">
                                     </div>

                                </div>


                                <br><br>
                                {% for x in d[1] %}
                                    <div id = "p2"> {{x}} </div>
                                {% endfor %}
                            </div>
                        </div>

                    {% else %}


                        <div class="container right">
                            <div class="content">

                                <div class="container_header">

                                    <div class="date"> <p id = "date1"> {{d[0]}} <p> </div> 
                                    <div class="score"> 
                                        <p id= heat> 100 </p>
                                        <img id="icon" src="static/images/light.png">
                                     </div>
                                     
                                </div>


                                <br><br>
                                {% for x in d[1] %}
                                    <div id = "p2"> {{x}} </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>

        <div class="topcorner">
        <p id = "p1">Project Name: {{ name }}</p>
        <p id = "p1">Student Name: ({{ netid }})</p>
        </div>

    </body>

    <script>
        function preloader(){
            console.log("called preloader");
            old_results = document.getElementById("all_results");
            old_results.style.display = "none"
            loading_div = document.getElementById("loading");
            loading_div.style.display= "block";

        }
    </script>

</html>
