<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                INFORMED
            </h1>
            <br><br>
            

            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Tell me about: Syria">
            </div>
            <button type="submit" class="btn btn-info"> Search </button>
        </form>

        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            <br><br>
            {% for d in data %}  
                {% if d % 2 != 0 %}
                <div class="timeline">
                    <div class="container left">
                        <div class="content">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> {{d}}  </h3>
                                </div>
                                <br>
                                <div class="panel-body">
                                    This will be the data value
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif d % 2 == 0 %}
                    <div class="container right">
                        <div class="content">
                          <div class="content">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> {{d}}</h3>
                                </div>
                                <br>
                                <div class="panel-body">
                                    This will be the data value
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            {% endfor %}
        {% endif %}

    
         </form>

        <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
        </div>

    </body>

</html>