<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                INFORMED
            </h1>
            <br><br>
            

            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Tell me about: Syria">
            </div>
            <button type="submit" class="btn btn-info"> Search </button>
        </form>

        {% if data %}
        <h3>{{output_message}}</h3>
        <div class= "timeline">
            <br>

            {% for d in data %} 

                {% if data.index(d) % 2 != 0 %}
                    <div class="container left">

                        <div class="content">

                            {{d[0]}}
                            <br>
                            {% for x in d[1] %}

                                {{x}}

                                <br>

                            {% endfor %}

            <!--                     <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> {{d}}</h3>
                                </div>
                                <br>
                                <div class="panel-body">
                                    This will be the data value
                                </div>
                            </div> -->

                        </div>

                    </div>

                {% else %}


                    <div class="container right">

                        <div class="content">

                            {{d[0]}}
                            <br>
                            
                            {% for x in d[1] %}

                                {{x}}

                                <br>

                            {% endfor %}

            <!--                     <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> {{d}}</h3>
                                </div>
                                <br>
                                <div class="panel-body">
                                    This will be the data value
                                </div>
                            </div> -->

                        </div>

                    </div>

                {% endif %}

            {% endfor %}
        {% endif %}

        </div>

        <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
        </div>

    </body>

</html>